form.signup,
form.login {
  margin-top: 50px;
}

/* input[type="radio"]{
  -webkit-appearance: radio;
  display: inline;
} */

/* input[type="checkbox"], input[type="radio"] {
  width: 1em;
  z-index: -1;
  opacity: 1;
} */

input[type="checkbox"], input[type="radio"]{
  width: 1em;
  position: relative !important;
  opacity: 1 !important;
  pointer-events: all !important;
  display: inline;
  scale: 0;
}

.radio-label {
  display:inline;
}

.hiddenId{
  display: none;
}

.dispValue{
 color: rgb(223, 56, 56);
 font:20px Verdana;
}

.lblHdr{
  font:20px Verdana;
  font-weight:bold;
}

th, td, p, input {
  font:14px Verdana;
}
table, th, td 
{
  border: solid 1px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}
td{
  color: rgb(223, 56, 56);
}
.addAGift, .deleteGift{
  color:white;
}

.totalLbl{
  float: left;
}

.overBudget{
  color:  rgb(223, 56, 56);
}

.underBudget{
  color: black;
}

/* .mainBtns {
  display: flex;
  justify-content: space-evenly;
} */

.jumbotron{
  background-image: url("https://ae01.alicdn.com/kf/HTB1S3F5OpXXXXXRXpXXq6xXFXXX9/Hand-painted-Christmas-Oil-Painting-Drawing-Santa-Claus-Send-Gifts-Kids-Canvas-Pictures-New-Year-Christmas.jpg_Q90.jpg_.webp");
  background-size: cover;
}
